*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
     background: hwb(220 97% 2%);
}
.nav-items > ul{
    list-style-type: none;
    display: flex;
}
.nav-items > ul > li{
    padding: 20px;
}
.logo-img{
    width: 100px;
}